extends layout

block content
    .row.banner
        .col-12
            h1= currentManga.title
                small &nbsp;
    .row
        .col-12.col-md-12
            p= currentManga.description
            br
        .col-6.col-md-8
            h3 Author
            p= currentManga.author
            br
        .col-6.col-md-8
            h4 Price
            p= '￥' + currentManga.price 
            br 
        .col-6.col-md-8
            h4 Publication Date
            p= currentManga.publication_year
            br
            br

    .row 
        .col-12.col-md-8
            h2 Reviews 
            br

    .row
        .col-12.col-md-4
            each review in currentManga.reviews
                h5= review.reviewer
                p= review.reviewText
                p= 'rating: ' + review.ratings
                //- p= review.createdOn
